@model List<ur_toplam>

@{
    int RowNo = 0;
    decimal? kesinti = 0;
    string Toplam = "";
    string ToplamKesinti = "";
    string ToplamOdenecek = "";
    string ToplamNakliye = "";



    decimal? valToplam = Model.Where(x => x.yedek1_string == null).Sum(x => x.toplam);
    decimal? valNakliye = Model.Where(x => x.yedek1_string == null).Sum(x => x.nak_zarar);
    decimal? valOdenecek = Model.Where(x => x.yedek1_string == null).Sum(x => x.odenecek);

    if (valToplam.HasValue)
    {
        Toplam = string.Format("{0:C}", valToplam.Value);
    }

    if (valNakliye.HasValue)
    {
        ToplamNakliye = string.Format("{0:C}", valNakliye.Value);
    }

    if (valOdenecek.HasValue)
    {
        ToplamOdenecek = string.Format("{0:C}", valOdenecek.Value);
    }

    if (valToplam.HasValue && valOdenecek.HasValue)
    {
        ToplamKesinti = string.Format("{0:C}", valToplam.Value - valOdenecek.Value);
    }

}





<div class="container shadow py-3">
    <div class="row">

        <div class="col-md-2">
            <button type="submit" id="KayitGetirButon" class="btn btn-success btn-block form-control">
                Getir
            </button>
        </div>

        <br />
        <br />


        <div class="col-md-2 col">
            <div class="input-group date" id="datepickerBaslangic">
                <input class="form-control" type="text" placeholder="Tarihi Seçiniz" id="datepickerBaslangic" name="datepickerBaslangic">
                <span style="padding: .375rem .75rem; background-color:lightgray;" class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="col-md-2 col">
            <div class="input-group date" id="datepickerBitis">
                <input class="form-control" type="text" placeholder="Tarihi Seçiniz" id="datepickerBitis" name="datepickerBitis">
                <span style="padding: .375rem .75rem; background-color:lightgray;" class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
</div>




<script>$(function () {

        $.fn.datepicker.dates['tr'] = {
            days: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
            daysShort: ['Paz', 'Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt'],
            daysMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
            months: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
            monthsShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
            today: 'Bugün',
            clear: 'Temizle',
            format: 'dd.mm.yyyy',
            titleFormat: 'MM yyyy',
            weekStart: 0
        };

        $('#datepickerBaslangic').datepicker({
            format: "dd.mm.yyyy",
            maxViewMode: 2,
            clearBtn: true,
            language: "tr",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });

        $('#datepickerBitis').datepicker({
            format: "dd.mm.yyyy",
            maxViewMode: 2,
            clearBtn: true,
            language: "tr",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });


        $("#datepickerBaslangic").datepicker("setDate", "25.01.1991");
        $("#datepickerBitis").datepicker("setDate", "25.01.1991");

    });</script>


<br />

<table class="table table-responsive table-striped table-bordered" style="overflow-x: scroll">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Şube
            </th>
            <th>
                Toplam
            </th>

            <th>
                Kesinti
            </th>

            <th>
                Nakliye Zarar
            </th>

            <th>
                Ödenecek
            </th>
            <th>
                ...
            </th>

            <th>
                Tarih
            </th>

            <th>
                Sıra No
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @{RowNo++;} @RowNo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sube)
                </td>

                @if (!string.IsNullOrEmpty(item.yedek1_string))
                {
                    <td align="center" colspan="5">
                        <h4>@item.yedek1_string</h4>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.toplam)
                    </td>

                    <td>
                        @{kesinti = item.toplam - item.odenecek;}
                        @Html.DisplayFor(modelItem => kesinti)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.nak_zarar)
                    </td>

                    <td class="gizlenecek">
                        @Html.DisplayFor(modelItem => item.odenecek)
                    </td>

                    <td>
                        @*@Html.ActionLink(
                            "Detaylar",
                            "KayitDetay",
                            new { kayit_id = item.KAYIT_BASLIK_ID },
                            new { @class = "btn btn-success" }
                            )*@
                        @*@Html.ActionLink("Detaylar", "KayitDetay", new { sube = item._SUBE.Trim(), tarih = item.ISLEM_TARIHI, sira_no = item.DEPO_SIRA_NO }, new { @class = "btn btn-success" })*@
                        @Html.ActionLink("Detay", "kayitdetay", new { sube = item.sube.Trim(), tarih = item.tarih, sira_no = item.depo_sira_no }, new { @class = "btn btn-success" })

                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depo_sira_no)
                </td>
            </tr>
        }


        <tr>
            <td></td>
            <td></td>
            <td>
                @Toplam
            </td>
            <td>
                @ToplamKesinti
            </td>
            <td>
                @ToplamNakliye
            </td>
            <td>
                @ToplamOdenecek
            </td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

    </tbody>
</table>






@*<div class="container shadow py-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-sm-6">
                <label for="startDate">Start</label>
                <input id="startDate" class="form-control" type="date" lang="tr" />
                <span id="startDateSelected"></span>
            </div>
            <div class="col-lg-2 col-sm-6">
                <label for="endDate">End</label>
                <input id="endDate" class="form-control" type="date" lang="tr" />
                <span id="endDateSelected"></span>
            </div>
        </div>
    </div>

    <script>let startDate = document.getElementById('startDate')
        let endDate = document.getElementById('endDate')

        startDate.addEventListener('change', (e) => {
            let startDateVal = e.target.value
            document.getElementById('startDateSelected').innerText = startDateVal
        })

        endDate.addEventListener('change', (e) => {
            let endDateVal = e.target.value
            document.getElementById('endDateSelected').innerText = endDateVal
        })</script>*@