@model URETICILER

@{
    ViewBag.Title = "Üretici - Giriş Sayfası";
}

@*<link href="~/css/login-register.css" rel="stylesheet" />*@

<style>
    .main {
        margin-top: 30px;
    }

    i {
        font-size: x-large
    }

    button {
        width: 500px;
    }

    .main-content {
        border: 2px solid #009edf;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px 40px;
        color: #ccc;
        text-shadow: none;
    }

    .form-header {
        max-width: 500px;
        margin: 0 auto;
        background-color: #009edf;
        color: #fff;
        width: 100%;
        padding: 20px 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
</style>



    @Html.AntiForgeryToken()




    <div class="row main">


        <div class="main-content">


            @Html.ValidationSummary(false)


            @if (@ViewBag.Result != null)
            {
                <div class="alert alert-@ViewBag.Status" role="alert">
                    <h4 style="text-align:center"> @ViewBag.Result </h4>
                </div>
            }




            <div class="form-header">
                <h1 class="text-center">Üretici Giriş</h1>
            </div>

            <br />
            <br />

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-circle"></i></span>
                <input class="form-control" placeholder="Kullanıcı Adınız" name="userfield" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"> <i class="bi bi-lock-fill"></i></span>
                <input class="form-control" type="password" placeholder="Parolanız" name="passwordfield" />
            </div>


            <div class="input-group">
                <button class="btn btn-danger btn-lg" id="btnGiris" name="btnGiris">Onay</button>
            </div>

            <br />

            <div class="input-group">
                <h4> Sistemde görünen kayıtlar bilgilendirme amaçlı olup, anlaşmazlık durumunda kooperatif kayıtları geçerlidir.</h4>
            </div>  

        </div>
    </div>



<script>$(document).on({
        ajaxStart: function () {
            $("body").addClass("loading");
        },
        ajaxStop: function () {
            $("body").removeClass("loading");
        }
    });</script>

<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1500",
        "timeOut": "6000",
        "extendedTimeOut": "7000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $('#btnGiris').click(function () {
        Login();
    });


    function Login() {

        $.ajax({
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'POST',
            url: '@Url.Action("Giris", "Bireysel")',
            data: {
                userfield: $("#userfield").val(),
                passwordfield: $("#passwordfield").val()
            },
            

            success: function (response) {


                toastr.info(response.routelink);

                if (response.success) {
                    toastr.success(response.responseText, "Başarılı");
                    window.location = "/Home/Index/";

                }
                else {
                    toastr.error(response.responseText, "Hata");

                }
            },
            error: function (data) {
                toastr.error(data.responseText, "Hataaaa");
            },

        });
    }

</script>

<style>
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url("/login/ajax-loader.gif") center no-repeat;
    }


    /* Turn off scrollbar when body element has the loading class */
    body.loading {
        overflow: hidden;
    }
        /* Make spinner image visible when body element has the loading class */
        body.loading .overlay {
            display: block;
        }
</style>